<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
    <th:block th:replace="~{common/template::linkBootstrap}"></th:block>
</head>
<body>
<nav th:replace="~{common/template::navbar}"></nav>
<div class="container">
    <h1>Edit Blog</h1>
    <form th:action="@{/blog/update/{id}(id=${blog.id})}" th:object="${blog}" method="post">
        <label>Title:</label>
        <input type="text" th:field="*{title}" /><br/>
        <label>Content:</label>
        <textarea th:field="*{content}"></textarea><br/>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>