<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View</title>
    <th:block th:replace="~{common/template::linkBootstrap}"></th:block>
</head>
<body>
<nav th:replace="~{common/template::navbar}"></nav>
<div class="container">
    <form method="post" th:object="${blog}">
        <h1 th:text="${blog.title}">Blog Title</h1>
        <p th:text="${blog.content}">Blog Content</p>
        <a th:href="@{/blog}">Back to List</a>
    </form>
</div>
</body>
</html>